<div class="">
    <nav class="navbar navbar-expand-xl bg-dark justify-content-around" style="background-color: #dfdfdf!important;">
          <a class="nav-link navbar-icono" href="#"> <i class="fa fa-home navbar-icono" style="font-size:18px;color:#212529"></i> </a>
          <a class="navbar-brand navbar-texto p-2 text-dark" href="#" >Your Notes</a>
          <a class="navbar-brand navbar-texto p-2 text-dark" href="#" >YO YO</a>
          <form class="d-flex col-md-6">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary text-light" type="submit">Search</button>
          </form>
          <a class="nav-link navbar-icono" href="#"> <i class="fa fa-gear" style="font-size:18px;color:#212529"></i> </a>
          <a class="nav-link text-dark navbar-texto p-2 me-2" href="#"> Account Settings </a>
    </nav>
</div>