<div class="">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-xl bg-dark justify-content-around" style="background-color: #dfdfdf!important;">
    <a class="nav-link navbar-icono" href="#"> <i class="fa fa-home navbar-icono" style="font-size:18px;color:#212529"></i> </a>
    <a class="navbar-brand nav-link navbar-texto p-2 text-dark" href="#" >Your Notes</a>
    <!-- Search Bar-->  
    <div class="col-sm-5">
            <input type="search" class="form-control-lg px-4 bg-white text-dark" placeholder="&#xF002;   Search Notes" style="border: 2px solid #dfdfdf; font-size: 17px; font-family: Helvetica, FontAwesome" aria-label="Search">
    </div> 
    <!-- Account Settings -->
    <a class="nav-link navbar-icono" href="#"> <i class="fa fa-gear" style="font-size:18px;color:#212529"></i> </a>
    <a class="nav-link text-dark navbar-texto p-2 me-2" href="#"> Account Settings </a>
  </nav>
</div>